@charset "utf-8";
body {
    font: normal 16px Arial;
    background: rgb(204, 125, 50);
}
header, footer {
    color: white;
    text-align: center;
}
section {
    background: white;
    border-radius: 10px;
    width: 500px;
    padding: 15px;
    margin: auto;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
}
button {
    margin-top: 16px;
    padding: 10px;
    border-radius: 5px;
    background: blue;
    color: white;
}
#msg, #foto {
    text-align: center;
}
#foto {
    width: 250px;
}
footer {
    font-style: italic;
}